# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
complete_df = student_data.merge(school_data, how="left", on= 'school_name')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Info and calculations for DataFrame
total_schools = school_data['school_name'].count()
total_students = school_data['size'].sum()
total_budget = school_data['budget'].sum()
avg_math_score = student_data['math_score'].mean()
avg_reading_score = student_data['reading_score'].mean()
passing_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count() / total_students
passing_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count() / total_students
passing_overall = (avg_math_score + avg_reading_score) / 2

# Build DataFrame
district_summary_df = pd.DataFrame({
    'Total Schools' : [total_schools],
    'Total Students' : [total_students],
    'Total Budget' : [total_budget],
    'Average Math Score' : [avg_math_score],
    'Average Reading Score' : [avg_reading_score],
    '% Passing Math' : [passing_math],
    '% Passing Reading' : [passing_reading],
    '% Overall Passing Rate' : [passing_overall]
})

# DataFrame Formatting
district_summary_formatted = district_summary_df.style.format({
    'Total Schools' : "{:,}",
    'Total Students' : "{:,}",
    'Total Budget' : "${:,.2f}",
    'Average Math Score' : "{:.2f}%",
    'Average Reading Score' : "{:.2f}%",
    '% Passing Math' : "{:.2%}",
    '% Passing Reading' : "{:.2%}",
    '% Overall Passing Rate' : "{:.2f}%",
})

district_summary_formatted

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
# Info and calculations for DataFrame
school_name_groupby = complete_df.set_index('school_name').groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']
total_students_per_school = school_name_groupby['Student ID'].count()
total_school_budget = school_data.set_index('school_name')['budget']
per_student_budget = total_school_budget / total_students_per_school
avg_math_score_school = school_name_groupby['math_score'].mean()
avg_reading_score_school = school_name_groupby['reading_score'].mean()
passing_math_school = student_data[student_data['math_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students_per_school
passing_reading_school = student_data[student_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students_per_school
passing_overall_school = (passing_math_school + passing_reading_school) / 2

# Build DataFrame
school_summary_df = pd.DataFrame({
    'School Type' : school_type,
    'Total Students' : total_students_per_school,
    'Total School Budget' : total_school_budget,
    'Per Student Budget' : per_student_budget,
    'Average Math Score' : avg_math_score_school,
    'Average Reading Score' : avg_reading_score_school,
    '% Passing Math' : passing_math_school,
    '% Passing Reading' : passing_reading_school,
    '% Overall Passing Rate' : passing_overall_school
})

# DataFrame Formatting
school_summary_df.head().style.format({
    'Total Students' : "{:,}",
    'Total School Budget' : "${:,.2f}",
    'Per Student Budget' : "${:,.2f}",
    'Average Math Score' : "{:.2f}%",
    'Average Reading Score' : "{:.2f}%",
    '% Passing Math' : "{:.2%}",
    '% Passing Reading' : '{:.2%}',
    '% Overall Passing Rate' : '{:.2%}'
})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
# Sort by highest & Overall Passing Rate
top_performing_schools = school_summary_df.sort_values('% Overall Passing Rate', ascending = False)

# DataFrame Formatting
top_performing_schools.head().style.format({
    'Total Students' : "{:,}",
    'Total School Budget' : "${:,.2f}",
    'Per Student Budget' : "${:,.2f}",
    'Average Math Score' : "{:.2f}%",
    'Average Reading Score' : "{:.2f}%",
    '% Passing Math' : "{:.2%}",
    '% Passing Reading' : '{:.2%}',
    '% Overall Passing Rate' : '{:.2%}'
})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
# Sort by lowest & Overall Passing Rate
bottom_performing_schools = school_summary_df.sort_values('% Overall Passing Rate')

# DataFrame Formatting
bottom_performing_schools.head().style.format({
    'Total Students' : "{:,}",
    'Total School Budget' : "${:,.2f}",
    'Per Student Budget' : "${:,.2f}",
    'Average Math Score' : "{:.2f}%",
    'Average Reading Score' : "{:.2f}%",
    '% Passing Math' : "{:.2%}",
    '% Passing Reading' : '{:.2%}',
    '% Overall Passing Rate' : '{:.2%}'})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
# Calculations for DataFrame
math_scores_grade_9 = complete_df[complete_df['grade'] == '9th'].groupby('school_name')['math_score'].mean()
math_scores_grade_10 = complete_df[complete_df['grade'] == '10th'].groupby('school_name')['math_score'].mean()
math_scores_grade_11 = complete_df[complete_df['grade'] == '11th'].groupby('school_name')['math_score'].mean()
math_scores_grade_12 = complete_df[complete_df['grade'] == '12th'].groupby('school_name')['math_score'].mean()

# Build the DataFrame
math_scores_grade_df = pd.DataFrame({
    '9th' : (math_scores_grade_9),
    '10th' : (math_scores_grade_10),
    '11th' : (math_scores_grade_11),
    '12th' : (math_scores_grade_12)
})

# Format the percentages and remove Index
math_scores_grade_df.index.name = None
pd.options.display.float_format = '{:,.2f}%'.format


math_scores_grade_df

                         9th   10th   11th   12th
Bailey High School    77.08% 77.00% 77.52% 76.49%
Cabrera High School   83.09% 83.15% 82.77% 83.28%
Figueroa High School  76.40% 76.54% 76.88% 77.15%
Ford High School      77.36% 77.67% 76.92% 76.18%
Griffin High School   82.04% 84.23% 83.84% 83.36%
Hernandez High School 77.44% 77.34% 77.14% 77.19%
Holden High School    83.79% 83.43% 85.00% 82.86%
Huang High School     77.03% 75.91% 76.45% 77.23%
Johnson High School   77.19% 76.69% 77.49% 76.86%
Pena High School      83.63% 83.37% 84.33% 84.12%
Rodriguez High School 76.86% 76.61% 76.40% 77.69%
Shelton High School   83.42% 82.92% 83.38% 83.78%
Thomas High School    83.59% 83.09% 83.50% 83.50%
Wilson High School    83.09% 83.72% 83.20% 83.04%
Wright High School    83.26% 84.01% 83.84% 83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
# Calculations for DataFrame
reading_scores_grade_9 = complete_df[complete_df['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
reading_scores_grade_10 = complete_df[complete_df['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
reading_scores_grade_11 = complete_df[complete_df['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
reading_scores_grade_12 = complete_df[complete_df['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

# Build the DataFrame
reading_scores_grade_df = pd.DataFrame({
    '9th' : (reading_scores_grade_9),
    '10th' : (reading_scores_grade_10),
    '11th' : (reading_scores_grade_11),
    '12th' : (reading_scores_grade_12)
})

# Format the percentages and remove Index
reading_scores_grade_df.index.name = None
pd.options.display.float_format = '{:,.2f}%'.format

reading_scores_grade_df

                         9th   10th   11th   12th
Bailey High School    81.30% 80.91% 80.95% 80.91%
Cabrera High School   83.68% 84.25% 83.79% 84.29%
Figueroa High School  81.20% 81.41% 80.64% 81.38%
Ford High School      80.63% 81.26% 80.40% 80.66%
Griffin High School   83.37% 83.71% 84.29% 84.01%
Hernandez High School 80.87% 80.66% 81.40% 80.86%
Holden High School    83.68% 83.32% 83.82% 84.70%
Huang High School     81.29% 81.51% 81.42% 80.31%
Johnson High School   81.26% 80.77% 80.62% 81.23%
Pena High School      83.81% 83.61% 84.34% 84.59%
Rodriguez High School 80.99% 80.63% 80.86% 80.38%
Shelton High School   84.12% 83.44% 84.37% 82.78%
Thomas High School    83.73% 84.25% 83.59% 83.83%
Wilson High School    83.94% 84.02% 83.76% 84.32%
Wright High School    83.83% 83.81% 84.16% 84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [9]:
# Pull data from previosly created DataFrame
scores_school_spending = school_summary_df.loc[:,[
    'Average Math Score',
    'Average Reading Score',
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing Rate',
]]

# Add new column and cut info out of previous DataFrame
scores_school_spending['Spending Ranges (Per Student)'] = pd.cut(school_summary_df['Per Student Budget'], spending_bins, labels = group_names)

# Calculate the per-bin averages
scores_school_spending = scores_school_spending.groupby('Spending Ranges (Per Student)').mean()

scores_school_spending.head().style.format({
    'Average Math Score' : "{:.2f}%",
    'Average Reading Score' : "{:.2f}%",
    '% Passing Math' : "{:.2%}",
    '% Passing Reading' : '{:.2%}',
    '% Overall Passing Rate' : '{:.2%}'
})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [11]:
# Pull data from previosly created DataFrame
scores_school_size = school_summary_df.loc[:,[
    'Average Math Score',
    'Average Reading Score',
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing Rate',
]]

# Add new column and cut info out of previous DataFrame
scores_school_size['School Size'] = pd.cut(school_summary_df['Total Students'], size_bins, labels = group_names)

# Calculate the per-bin averages
scores_school_size = scores_school_size.groupby('School Size').mean()

scores_school_size.head().style.format({
    'Average Math Score' : "{:.2f}%",
    'Average Reading Score' : "{:.2f}%",
    '% Passing Math' : "{:.2%}",
    '% Passing Reading' : '{:.2%}',
    '% Overall Passing Rate' : '{:.2%}'
})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [12]:
# Pull data from previosly created DataFrame
scores_school_type = school_summary_df[[
    'School Type',
    'Average Math Score',
    'Average Reading Score',
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing Rate',
]]

# Calculate the per-bin averages
scores_school_type = scores_school_type.groupby('School Type').mean()

scores_school_type.head().style.format({
    'Average Math Score' : "{:.2f}%",
    'Average Reading Score' : "{:.2f}%",
    '% Passing Math' : "{:.2%}",
    '% Passing Reading' : '{:.2%}',
    '% Overall Passing Rate' : '{:.2%}'
})